nav{
    Text-align:center;
    border-top: 3px;
    border-bottom: 3px;
    background: #312f2f;
}
nav a{
    color: #84ad38;
}
body {
    margin: 0;
    font-family: Microsoft Yahei;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: left;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.buttons {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}

.buttons:hover {
    background: #eaeaea;
    color: #333;
}

#firstlook {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#firstlook .backgroundimg {
    position: absolute;
    background: #333 url("cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.3;
}

#firstlook h1 {
    padding-top: 140px;
    padding-bottom: 0;
}

/*如果增加更多字可以左右縮進*/
#firstlook .container{
    padding: 0 1.5em;
}

#sec-A {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}
#sec-A .article-title{
    padding-left: 0.1em;
}
#sec-A li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 2em;
}
#sec-B {
    padding: 2em 1em 1em;
}

#sec-B ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sec-B li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

#sec-C {
    background: #fff;
    color: #333;
    padding: 2em;
}

#sec-D .cube {
    padding: 2em;
    color: #fff;
}

#sec-D .cube:first-child {
    background: #034463;
}

#sec-D a {
    color: #84ad38;
    text-decoration: none;
}

#index-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: left;
}

@media(min-width: 700px) {
    .box {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
    }
    #sec-A .article-text p{
        padding-top: 0;
    }
    .container,
    #sec-B ul {
        grid-column: 2/4;
    }
    .cube, #index-footer div {
        grid-column: span 2;
    }
}


